.mainbox{
         height: 500px;
         width: 80%;
         border: 3px solid black;
         background-color: darkcyan;
         margin: auto;
}
.box1{
      height: 200px;
      width: 250px;
      border: 5px dashed yellow;
      background-image: url('download.jpg');
      background-repeat: repeat;
      background-clip: content-box;
      margin-left: 80px;
      margin-top: 135px;
}
.box2{
    height: 200px;
    width: 250px;
    border: 5px dashed rgb(52, 46, 139);
    background-image: url('nature.jpg');
    background-clip: content-box;
    margin-left: 400px;
    margin-bottom: 80px;
    margin-top: -207px;
  
}
.box3{
     height: 200px;
     width: 250px;
     border: 5px solid deeppink;
     float: left;
     margin-left: 750px;
     margin-top: -287px;
     background-color: aqua;
}