.container{
    height: 150vh;
    width: 653.5px;
    border: 5px solid black;
    margin: auto;
    font-size: large;
    text-align: center;
    text-decoration: underline;
}

.box{
    height: 175px;
    width: 110px;
   /* border: 1px dotted black;*/
    float: left;
    margin: 1px;
    padding: 14px;
    margin-top: 20px;
    display: block;
    
}
.d2{
    margin-left: 35px;
    background-image: url('s1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
.d3{
    background-image: url('s2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
.d4{
    background-image: url('s3.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
.p1{
    text-align: right;
    padding: 70px 0;
    padding-left: 50px;
    font-size: 18px;
    text-decoration: underline;
}
.d5{
    background-image: url('s4.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 35px;
    margin-top: -90px;
    
}
.d6{
    background-image: url('s5.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -90px;
    position: relative;
    top: 25px;
}
.d7{
    background-image: url('s7.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -90px;
}
    
.p2{
        padding-left: 25px;
        margin-top: -38px;

}
.d8{
     margin-left: 35px;
     background-image: url('s8.jpg');
     background-repeat: no-repeat;
     background-size: contain;
     
     
}
.d9{
    background-image: url('oie_transparent.png');
   /* background-image: url('s8.jpg');*/
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    right: 80px;    
}
.d10{
    background-image: url('s10.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
.d11{
    margin-left: 62px;
    background-image: url('s13.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    
}
.d12{
    background-image: url('s13.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
.d13{
    background-image: url('s13.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 50px;
    position: relative;

}