.box{
       height: 400px;
       width: 350px;
       border: 2px solid purple;
       background-color: grey;
       
}
.bgyellow{
       height: 250px;
       width: 150px;
       border: 2px solid black;
       background-color: yellow;
       position: relative;
       z-index: 1;
}
.bggreen{
      height: 250px;
      width: 150px;
      border: 2px solid black;
      background-color: green;
      position: absolute;
      left: 40px;
      top: 30px;
      z-index: 2;
}
.bgred{
      height: 250px;
      width: 150px;
      border: 2px solid black;
      background-color: red;
      position: absolute;
      left: 70px;
      top: 50px;
      z-index: 3;
}
.bgblue{
      height: 250px;
      width: 150px;
      border: 2px solid black;
      background-color: blue;
      position: absolute;
      left: 100px;
      top: 70px;
      z-index: 4;
}