.d1{
    height: 500px;
    width: 50%;
    font-family: Sacramento;
    font-size: 33px;
    border-radius: 15px;
    border-left: 5px solid green;
    border-right: 5px dashed orangered;
    border-top: 5px dotted purple;
    border-bottom: 5px double deepskyblue;
    margin: auto;
    background-color: deeppink;
    background-clip: padding-box;
    

}