@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto/Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "InriaSerif";
    src: url("assets/fonts/InriaSerif-Regular.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: url("assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "InriaSerif-bold";
    src: url("assets/fonts/InriaSerif-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: url("assets/fonts/Poppins/Poppins-Regular.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("assets/fonts/Poppins/Poppins-Bold.ttf");
    font-weight: 700;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
}

.arrow {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* Global Padding Inline */

.padding-x {
    padding-inline: 120px;
}

.padding-y {
    padding-block: 80px;
}

.global-container {
    max-width: 1400px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* Buttons */

.primary-btn {
    display: flex;
    height: 48px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 99px;
    background: #ff8b00;
    color: white;
    margin-top: 2px;
    margin-bottom: 0px;
    transition: all 0.2s ease-in-out;
}

.primary-btn:hover {
    background-color: #cc7000;
    margin-top: 0px;
    margin-bottom: 2px;
}

.outline-btn {
    display: flex;
    height: 48px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 99px;
    background: white;
    color: #0e121b;
    border: 1px solid #ff8b00;
    margin-top: 2px;
    margin-bottom: 0px;
    transition: all 0.2s ease-in-out;
}

.outline-btn:hover {
    background-color: #ff8b00;
    color: white;
}

.secondary-btn {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 8px;
    background: #fff8f0;
    color: #ff8b00;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    transition: all 0.3s ease-in-out;
}

.secondary-btn:hover {
    background-color: #ff8b00;
    color: white;
}

.link-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #3c6bc3;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.084px;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    cursor: pointer;
}

.link-btn:hover {
    color: #1e4285;
    text-decoration-line: underline;
}

/* Navbar */

/* .header {
    display: flex;
    width: 100%;
    height: 103px;
    align-items: center;
    justify-content: center;
    padding-block: 20px;
    background-color: rgb(255, 245, 232);
    box-shadow: 0.2px 0.2px 15px rgba(255, 140, 0, 0.324);
}

.navbar-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    position: relative;
    z-index: 2;
}

.logo-wrapper {
    max-height: 40px;
}

.logo-wrapper img {
    max-height: 50px;
}

.main-navlink-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    position: relative;
}

.dropdown {
    position: relative;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: relative;
    background-color: transparent;
    color: #717784;
    padding: 6px 12px;
    border-radius: 8px;
}

.nav-link:hover {
    background-color: #f5f7fa;
    color: #2b303b;
}

.nav-link a {
    color: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.nav-link a.active {
    color: #e67e00;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fcfcfd;
    min-width: 320px;
    border: 1px solid #e1e4ea;
    border-radius: 12px;
    padding: 8px;
    box-shadow: 0px 24px 56px -4px rgba(88, 92, 95, 0.16);
    z-index: 1;
}

.dropdown-link {
    padding: 12px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    color: #717784;
}

.dropdown-link:hover {
    background-color: #f5f7fa;
    color: #2b303b;
}

.dropdown-link a {
    color: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.dropdown:hover .dropdown-content {
    display: block;
} */

.header {
    z-index: 999;
    position: fixed;
    display: flex;
    font-family: "Poppins-Bold";
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-block: 20px;
    box-shadow: 0px 4px 44.2px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4px 44.2px 0px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(38.599998474121094px)
  }
  
  .navbar-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    position: relative;
    z-index: 2;
  }
  
  .logo-wrapper {
    max-height: 40px;
  }
  
  .logo-wrapper img {
    max-height: 40px;
  }
  
  .main-navlink-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    position: relative;
  }
  
  .dropdown {
    position: relative;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: relative;
    background-color: transparent;
    color: #717784;
    padding: 6px 12px;
    border-radius: 8px;
  }
  
  .nav-link:hover {
    background-color: #f5f7fa;
    color: #2b303b;
  }
  
  .nav-link a {
    color: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  
  .nav-link a.active {
    color: #e67e00;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fcfcfd;
    min-width: 320px;
    border: 1px solid #e1e4ea;
    border-radius: 12px;
    padding: 8px;
    box-shadow: 0px 24px 56px -4px rgba(88, 92, 95, 0.16);
    z-index: 1;
  }
  
  .dropdown-link {
    padding: 12px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    color: #717784;
  }
  
  .dropdown-link:hover {
    background-color: #f5f7fa;
    color: #2b303b;
  }
  
  .dropdown-link a {
    color: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .header-burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    padding: 4px;
  }
  
  .burger-line {
    width: 30px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    border-radius: 9999px;
    transition: all 0.3s;
  }
  
  .header-overlay {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 5;
    background-color: rgba(33, 33, 33, 0.9);
    transition: opacity 0.3s;
  }
  
  .hero_home {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero_home-layout {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
  }
  
  .hero_home-left {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
    max-width: 720px;
  }
  
  .hero_home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  
  .label-tag {
    display: flex;
    height: 34px;
    padding: 8px 16px 8px 12px;
    align-items: center;
    gap: 6px;
    background: #fbfcfe;
    color: #3c6bc3;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-family: 'Roboto';
  }
  
  .tag-text {
    font-size: 18px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    line-height: 21.09px;
    color: rgba(59, 118, 229, 1);
  }
  
  .banner-title {
    align-self: stretch;
    color: var(--Neutrals-900, #181b25);
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -0.56px;
  }
  
  .banner-title span {
    color: #FFA30C;
  }

/* Content - 1 */


/* Relative container setup */
.relative-container {
    position: relative;
    width: 100%;
    height: 700px;
    background-color: #ffe7c93e;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Absolute container setup */
.absolute-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center vertically */
    align-items: center;
    /* Center horizontally */
    background-color: rgba(255, 140, 0, 0.025);
    box-shadow: 1px 1px 10px rgba(255, 140, 0, 0.276);
}

/* First row: YouTube logo */
.youtube-logo {
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

/* Second row: Welcome text with darkorange YouTube text */
.row p {
    font-size: 16px;
    text-align: center;
    padding-top: 35px;
}

.highlight {
    color: darkorange;
    font-weight: bold;
}

/* Specific text size for each row */
.absolute-container .row:nth-child(2) p {
    font-size: 50px;
    /* Second row text size */
    line-height: 1;
}

.absolute-container .row:nth-child(3) p {
    font-size: 18px;
    color: rgb(132, 132, 132);
    /* Third row text size */
    line-height: 1.5;
}

/* Fourth row: Buttons */
.button-container {
    display: flex;
    gap: 10px;
    padding-top: 35px;
}

.btn {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    /* font-weight: bold; */
    cursor: pointer;
    border: none;
    width: 200px;
    /* Button width */
    height: 60px;
    /* Button height */
}

.btn-primary {
    background-color: darkorange;
    color: white;
}

.btn-primary:hover {
    background-color: rgb(255, 255, 255);
    color: darkorange;
    border: 2px solid darkorange;
}

.btn-outline {
    background-color: white;
    color: darkorange;
    border: 2px solid darkorange;
}

.btn-outline:hover {
    background-color: darkorange;
    color: white;
}

/* Content - 2 */

.slick-slider .element{
    height:100px;
    width:100px;
    background-color:#000;
    color:#fff;
    border-radius:5px;
    display:inline-block;
    margin:0px 10px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    font-size:20px;
  }
  .slick-slider .slick-disabled {
    opacity : 0; 
    pointer-events:none;
  }



/* Content - 4 */

.component-header {
    position: relative;
}

.component-header button {
    --wh: 3em;

    width: var(--wh);
    height: var(--wh);
    background: var(--matchBg,
            linear-gradient(to bottom right, #050708, #303339));
    border: none;
    outline: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: calc(100% + 2em);
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.component-header button::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--txtBg);
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6 18 2.5-2.5M18 6H9m9 0v9m0-9-6.5 6.5' stroke='%231C274C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    mask-size: 60%;
    mask-repeat: no-repeat;
    mask-position: center;
}

.component-header h2 {
    text-align: center;
    color: transparent;
    position: relative;
    font-size: 2em;
    font-weight: 800;
    font-style: italic;
    background: var(--matchBg,
            linear-gradient(to bottom right, #050708, #303339));
    background-clip: text;
    filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.1));
}

.themes ul {
    display: flex;
    gap: 0.8em;
    position: relative;
    --wh: 1.2em;
}

.themes ul::before {
    content: "";
    width: var(--wh);
    height: var(--wh);
    transform: scale(1.1);
    box-shadow: 0px 0px 0px 2px #fff;
    position: absolute;
    inset: 0;
    left: var(--posX, 0);
    border-radius: 50%;
    transition: 0.3s;
    transition-timing-function: (0.23, 1, 0.32, 1.2);
}

.themes ul li {
    width: var(--wh);
    height: var(--wh);
    border-radius: 50%;
    list-style: none;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
    .component-header h2 {
        font-size: 1.5em;
    }

    .component-header button {
        --wh: 2em;
    }
}


.container {
    &[data-theme='dark'] {
        --bg: linear-gradient(to bottom right, #1e2022, #323439);
        --txtBg: linear-gradient(to bottom right,
                #d4d4d8, #52525b);
        --borderClr: rgb(65, 65, 65);
    }

    &[data-theme='light'] {
        --bg: linear-gradient(to bottom right, #fff, #cccccc);
        --txtBg: linear-gradient(to bottom right, #93c5fd, #1e3a8a);
        --borderClr: rgb(255, 255, 255);
    }

    &[data-theme='custom'] {
        --bg: linear-gradient(to bottom right, #ccfbf1, #60a5fa);
        --txtBg: linear-gradient(to bottom right, #6996f8, #1e3a8a);
        --borderClr: rgba(230, 230, 230, 0.5);
    }
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    width: clamp(22rem, 90%, 64rem);
    height: 20rem;
    margin: 0 auto;
}

.slider {
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    perspective: 500px;
}

.slide {
    width: clamp(8rem, 10rem, 25rem);
    height: clamp(10rem, 12rem, 27rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: 1px solid var(--borderClr);
    transition: 0.5s;
    background: var(--bg);
    transition-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
}

.slide span {
    position: absolute;
    border-radius: inherit;
    display: flex;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    background-image: var(--txtBg);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
    color: transparent;
}

.slider-buttons {
    display: flex;
    gap: 1.5rem;
    z-index: 1;
}

.slider-buttons button {
    display: flex;
    height: 2rem;
    width: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-image: var(--bg);
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.slider-buttons button::before {
    content: '';
    width: 80%;
    height: 80%;
    background: var(--txtBg);
    position: absolute;
    border-radius: inherit;
    transition: .3s;
    opacity: .5;
}

.slider-buttons button:hover::before {
    opacity: 1;
}

.slider-buttons button:nth-of-type(1)::before {
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.29 5.707a1 1 0 0 0-1.415 0L7.988 10.6a2 2 0 0 0 0 2.828l4.89 4.89a1 1 0 0 0 1.415-1.414l-4.186-4.185a1 1 0 0 1 0-1.415l4.182-4.182a1 1 0 0 0 0-1.414Z' fill='%230F0F0F'/%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.29 5.707a1 1 0 0 0-1.415 0L7.988 10.6a2 2 0 0 0 0 2.828l4.89 4.89a1 1 0 0 0 1.415-1.414l-4.186-4.185a1 1 0 0 1 0-1.415l4.182-4.182a1 1 0 0 0 0-1.414Z' fill='%230F0F0F'/%3E%3C/svg%3E");
}

.slider-buttons button:nth-of-type(2)::before {
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.71 18.293a1 1 0 0 0 1.415 0l4.887-4.892a2 2 0 0 0 0-2.828l-4.89-4.89a1 1 0 0 0-1.415 1.414l4.186 4.185a1 1 0 0 1 0 1.415L9.71 16.879a1 1 0 0 0 0 1.414Z' fill='%230F0F0F'/%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.71 18.293a1 1 0 0 0 1.415 0l4.887-4.892a2 2 0 0 0 0-2.828l-4.89-4.89a1 1 0 0 0-1.415 1.414l4.186 4.185a1 1 0 0 1 0 1.415L9.71 16.879a1 1 0 0 0 0 1.414Z' fill='%230F0F0F'/%3E%3C/svg%3E");
}

@media (max-width: 700px) {
    .slider-container {
        gap: 0;
    }

    .slide {
        width: clamp(4rem, 6rem, 25rem);
        height: clamp(6rem, 8rem, 27rem);
    }

    .slide span {
        font-size: 1.6rem;
    }
}

/* Slider first */


/* Container for the slider */
/* .slider-container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.slider-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.video-frame {
    width: 60%;
    border-radius: 20px;
    border: 2px solid darkorange;
    height: 330px;
    transition: all 0.5s ease;
    opacity: 0.6;
    transform: scale(0.8);
}

.video-frame.center {
    transform: scale(1);
    opacity: 1;
    z-index: 1;
}

.slider-arrows {
    display: flex;
    justify-content: space-between;
    width: 160px;
    margin-top: 20px;
}

.arrow {
    color: white;
    border: none;
    cursor: pointer;
    font-size: 25px;
    border-radius: 100%;
    transition: background-color 0.3s;
} */



/* watchlist slider */
.menu {
    overflow: hidden;
    cursor: grab;
    width: 100%;
    position: relative;
    z-index: 1;
    height: 40vh;

    &.is-dragging {
        cursor: grabbing;
    }

    &--wrapper {
        counter-reset: count;
        display: flex;
        position: absolute;
        z-index: 1;
        height: 100%;
        top: 0;
        left: 0;
        width: 100%;
    }

    &--item {
        counter-increment: count;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 30vw;
        height: 100%;
        padding: 0 1.5vw;
        overflow: hidden;

        @media (max-width: 767px) {
            width: 40vw;
            height: 40vw;
        }

        &:nth-child(n+10):before {
            content: counter(count);
        }

        figure {
            position: absolute;
            z-index: 1;
            display: block;
            user-select: none;
            -webkit-appearance: none;
            padding: 0;
            border: none;
            outline: none;
            box-shadow: none;
            cursor: pointer;
            width: 100%;
            height: 100%;
            overflow: hidden;
            pointer-events: none;
            transform-origin: center;

            img {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                vertical-align: middle;
                transform-origin: center;
            }

            &:before {
                position: absolute;
                z-index: 2;
                bottom: 1vw;
                left: 1vw;
                display: inline-block;
                content: "0" counter(count);
                color: #ffffff;
                font-size: 3vw;
            }
        }
    }
}

.version {
    display: inline-block;
    position: fixed;
    text-align: center;
    z-index: 1;
    text-decoration: none;
    background: #333;
    font-family: sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2);
    top: -30px;
    right: -50px;
    bottom: auto;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    border-radius: 0;
    padding: 8px 30px;
    font-size: 11px;

    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100px;
        bottom: 0;
        right: 0%;
        background: transparent;
    }

    @media (max-width: 767px) {
        transform: scale(.6) rotate(45deg);
        right: -100px;
    }
}

/* WatchSlider 2 */

.mscroll-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: #333;

}

.slick-slide {
    text-align: center;
    color: #419be0;
    background: white;
    margin: 10px;
}

h4 {
    text-align: center;
}

.slider-item {
    width: 500px;
}

/* Infinite slider */

.image-carousel-container {
    overflow-x: hidden; /* Prevent scrolling bars */
    padding: 0 0 40px 0;
    cursor: grab; /* Change cursor to indicate grabbing */
  }
  
  .image-carousel {
    display: inline-flex; /* Align images in a single line */
  }
  
  .image-carousel img {
    width: 370px;
    height: 250px;
    border: none;
    margin-right: 0; /* No margin for no gap between images */
  }

  /* slider first 1 */
  

/* footer */

.footer {
    background-color: #fcfcfd;
    border-top: 1px solid #e5e7eb;
    padding-block: 32px;
    font-family: "Poppins-Bold";
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .footer-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .footer-menu {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    flex-wrap: wrap;
    border-bottom: 1px solid #e1e4ea;
  }
  
  .footer-menu-link {
    padding: 12px;
  }
  
  .footer-menu-link-text {
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 400;
  }
  
  .footer-main {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
    border-bottom: 1px solid #e5e7eb;
  }
  
  .footer-main-right {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 345px;
  }
  
  .footer-right-logo {
    width: 100%;
    height: 48px;
  }
  
  .footer-right-logo img {
    width: auto;
    height: 100%;
  }
  
  .footer-right-content-text {
    color: #707070;
    font-size: 18px;
    line-height: 28px;
  }
  
  .footer-right-social {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }
  
  .footer-right-social-icon {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    background: #f0f0f0;
  }
  
  .footer-main-left {
    display: flex;
    gap: 32px;
  }
  
  .footer-left-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .footer-left-menu-text {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
  }
  
  .footer-left-menu-link-text {
    color: #717784;
    font-size: 16px;
  }
  
  .footer-copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    font-size: 14px;
    color: #717784;
  }
  
  .footer-copyright-text {
    font-size: 14px;
    font-weight: 400;
  }
  
  .footer-copyright-text-span {
    font-weight: 500;
    color: #1a1a1a;
  }
  



@media (max-width: 767px) {
    .slider-height-padding {
        padding-top: 340px;
    }

    ul li {
        height: 300px;
        font-size: 13px;
        letter-spacing: 1px;
    }
}

@media (max-width: 575px) {
    .slider-height-padding {
        padding-top: 240px;
    }

    ul li {
        height: 200px;
    }
}