@keyframes rollLoader{
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}
.loader{
      height: 100px;
      width: 100px;
      border: 15px solid lightgray;
      border-top: 15px solid blue;
      border-bottom: 15px solid green;
      border-radius: 50%;
      animation-name: rollLoader;
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
}