.d0 {
    background-color: #a5e7cb;
}

.d1 {
    background-color: darkgreen;
    height: 100px;
    line-height: 120px;

}

.fa-circle-user {
    color: white;
    font-size: 50px;
    text-indent: 100px;

}

.d2 {
    font-family: "Passion One";
    font-size: 40px;
    text-indent: 300px;
    color: white;
}

.yes{

    text-align: center;
    height: 50px;
    line-height: 70px;
    text-decoration: underline dotted;
    font-family: "Jura";
    color: gray;
}

.d3{
    font-family:"Itim";
    text-indent:20px;
    font-size: 18px;
  
}


.q{
    text-decoration: overline dotted;
    
    color: gray;
}
.d5{
    font-family:"Itim";
    font-size: 18px;
    text-align: right;
   
    
}
.d6{
    font-family:"Itim";
    text-indent:20px;
    font-size: 18px;
    text-align: left; 
   
}  
.d7{
    font-family:"Itim";
    text-indent:20px;
    font-size: 18px;
    text-align: left; 
}
.d8{
    font-family:"Itim";
    font-size: 18px;
    text-align: right;

}
.d9{
    font-family:"Itim";
    font-size: 18px;
    text-align: right;
}
.d10{
    font-family:"Itim";
    font-size: 18px;
    text-align: right;

}



