.row{
    height: 500px;
    width: 100%;
    border: 7px dashed black;
    text-align: center;
    background-color: chartreuse;
    background-image: url('rose.jpg');
    color: white;
    margin-bottom: 10px;
    background-position: center;
    background-repeat: repeat-x;
    background-size: 100%;
    background-clip: padding-box;
    padding: 10px;
    box-sizing: border-box;
    background-attachment: fixed;
    

}
.padding-box{
    background-clip: padding-box;

}
.contain-box{
    background-size: contain-box;

}
.row1{
    height: 500px;
    width: 500px;
    border:5px solid greenyellow;
    background-image: url("naturel.jpg");
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    margin:auto;
}
.p1{
    height: 500px;
    width: 50%;
    border:5px solid blue;
    margin: auto;
    margin-bottom: 15px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,75,1) 35%, rgba(255,0,232,1) 100%);
}
.p2{
    height: 500px;
    width: 50%;
    border:5px solid blue;
    margin: auto;
    margin-bottom: 15px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,75,1) 35%, rgba(0,255,33,1) 100%);
}