.row{
    height: 200px;
    width: 100%;
    border: 7px dashed black;
    text-align: center;
    background-color: aqua;
    /*background-image: url('down.jpg');*/
    color: white;
    margin-bottom: 10px;
    background-repeat: repeat;
    background-position: center;
    background-size: 100%;
    background-clip: border-box;
    padding: 10px;
    box-sizing: border-box;
    background-image: linear-gradient(to left, red,orange,green,rgb(26, 148, 146)); 
    background-clip: padding-box;
    


}
.padding-box{
        background-clip: padding-box;
}
.content-box{
       background-clip: content-box;
}
.row1{
    height: 500px;
    width: 500px;
    margin: auto;
    background-image: url("water1.jpg");
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    margin-bottom: 20px;
}
.row2{
     height:500px;
     width: 500px;
     margin: auto;
     background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
     margin-bottom: 15px;
}
.d2{
    text-align: center;
}
.row3{
    height: 600px;
    width: 500px;
    margin:auto;
    background-color: aqua;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}