.box{
    height: 200px;
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: navy;
    transform: rotate(190deg);
    margin-top: 20px;
    margin-left: 50px;
    transition: all 5s;
   /* box-shadow: 50px 50px red ;*/
   /* margin: auto;*/
}
.box:hover{
      height: 400px;
      width: 300px;
      border: 5px solid black;
      border-radius: 10px;
      background-color: aqua;
      transform: rotate(190px);
     /* transform-origin:  bottom;*/
      /*transform-style: preserve-3d;*/
      transition: all 4s ease;*/
}

.box1{
       height:100px;
       width: 100px;
       border: 2px solid black;
       border-radius: 5px;
       background-color: yellow;
       margin-left: 10px;

}
.box1:hover{
      transform: rotate(360deg);
      transition: all 1s;
      background: rgb(63,94,251);
      background: linear-gradient(163deg, rgba(63,94,251,1) 0%, rgba(252,70,248,0.9949229691876751) 100%);
}
.box2{
      height: 200px;
      width: 150px;
      border: 5px solid fuchsia;
      border-radius: 10px;
      background-color: blue;
      margin: auto;
}
.box2:hover{
      height: 100px;
      width: 200px;
      border: 5px solid black;
      border-radius: 5px;
      transform: rotate(80deg);
      transform: translate(20deg,40deg);
      /*transition-delay: 1s;*/
      transition: all 5s;
}