.box{

    height: 250px;
    width: 400px;
    background-color: lawngreen;
    padding: 25px;
    border: 2px solid black;
    margin-left:600px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
div#txt1{
    background-color: magenta;
    color: greenyellow;
    font-size: 20px;
}
div#txt2{
      color: deeppink;
      background-color:aqua;
}
.clr{
    font-size: 20px;
    box-sizing: border-box;
}